@model IEnumerable<EditEventViewModel>
@{
    Layout = null;
}

<style>
    table {
        font-family: verdana,arial,sans-serif;
        font-size: 11px;
        color: #333333;
        border-width: 1px;
        border-color: #999999;
    }

        table th {
            background-color: white;
            border-width: 1px;
            padding: 2px 15px;
            border-style: solid;
            border-color: #999999;
        }

        table td {
           
            text-align: center;
            border-width: 1px;
            padding: 2px 15px;
            border-style: solid;
            border-color: #999999;
        }

    #mode {
        width: 900px;
        position: relative;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }

    #mode-button {
        margin-top: 1px;
        margin-right: 2px;
        position: absolute;
        top: 0;
        right: 0;
    }
</style>

<div id="mode">
    <form action="/Home/Index">
        <input type="submit" id="mode-button" value="Preview Mode" />
    </form>
</div>


<div>
    @{
        WebGrid eventsWebGrid = new WebGrid(Model);
    }

    @eventsWebGrid.GetHtml(tableStyle: "table",
    columns: eventsWebGrid.Columns(
        eventsWebGrid.Column("EventId", "EventID"),
        eventsWebGrid.Column("EventName", "EventName"),
        eventsWebGrid.Column("OddsForFirstTeam", "OddsForFirstTeam"),
        eventsWebGrid.Column("OddsForDraw", "OddsForDraw"),
        eventsWebGrid.Column("OddsForSecondTeam", "OddsForSecondTeam"),
        eventsWebGrid.Column("EventStartDate", "EventStartDate"),
        eventsWebGrid.Column(header: "", format: (item) =>
        {
            var link = Html.ActionLink("Delete", "DeleteEvent");
            return link;
        }),
        eventsWebGrid.Column(header: "", format: (item) =>
        {
            var link = Html.ActionLink("Edit", "EditEvent");
            return link;
        })
        ))

</div>
